/* widgets/header/ui/header.module.css */

.header {
  box-sizing: border-box;
  width: 1440px;
  padding: 0 36px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2%;
  background: #f9faf7;
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 32px;
  width: 100%;
  min-height: 104px;
  margin: 0 auto;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 36px;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #1a1f16;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

.navLink:hover {
  color: #2a5f2e;
}

.navLink_active {
  color: #2a5f2e;
  font-weight: 500;
}

.navLinkWithDropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #1a1f16;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  white-space: nowrap;
  cursor: pointer;
}

.navLinkWithDropdown:hover {
  color: #2a5f2e;
}

.navLinkText {
  color: inherit;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  white-space: nowrap;
}

.navLinkWithDropdown svg {
  flex-shrink: 0;
  transition: transform 0.2s ease;
}

.rotated {
  transform: rotate(180deg);
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 200px;
  margin-top: 8px;
  padding: 8px 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
}

.dropdownItem {
  display: block;
  padding: 8px 16px;
  color: #1a1f16;
  font-size: 14px;
  white-space: nowrap;
  text-decoration: none;
  transition: background 0.2s;
}

/* .dropdownItem:hover {
  color: #2a5f2e;
  background: #f5f5f5;
} */

.searchInput {
  width: 100%;

  /* min-width: 300px; */
}

.rightGroup {
  display: flex;
  justify-self: end;
  align-items: center;
}

/* Стили для авторизованного пользователя */

.rightGroup.auth {
  gap: 20px; /* Расстояние между иконками */
}

/* Стили для неавторизованного пользователя */

.rightGroup:not(.auth) {
  gap: 32px;
}

.buttonsGroup {
  display: flex;
  align-items: center;
}

/* Стили для авторизованного пользователя */

.buttonsGroup.auth {
  gap: 24px; /* Расстояние между пользователем и кнопкой "Выйти" */
}

/* Стили для неавторизованного пользователя */

.buttonsGroup:not(.auth) {
  gap: 8px;
}

/* Блок с пользователем (имя + аватар) */

.userBlock {
  display: flex;
  align-items: center;
  gap: 8px; /* Расстояние между именем и аватаркой */
  color: #1a1f16;
  text-decoration: none;
}

.userBlock:hover {
  color: #2a5f2e;
}

.buttonLink {
  display: inline-flex;
  text-decoration: none;
}

.profileLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
